*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Strapi Backend
backend/node_modules/
backend/.env
backend/.cache/
backend/build/
backend/dist/
backend/.tmp/
backend/public/uploads/
.idea/